@model IPagedList<RestaurantListViewModel>

@{
    ViewBag.Title = "Home Page";
}

<form method="get" action="@Url.Action("index")"
      data-otf-ajax="true" data-otf-target="#restaurantList"> @*this will be interpreted by otf.js on scripts folder*@

    <input type="search" name="searchTerm" data-otf-autocomplete="@Url.Action("AutoComplete")" /> @*this will be interpreted by otf.js on scripts folder*@
    <input type="submit" value="Search By Name" />
</form>

@* ajax example razor
    @using (Ajax.BeginForm(
    new AjaxOptions
    {
        HttpMethod = "get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "restaurantList"
    }))
{
    <input type="search" name="searchTerm" />
    <input type="submit" value="Search By Name" />
}*@

@Html.Partial("_Restaurants", Model)
